.myOrdersPage {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: start;
    overflow: hidden;
}
.myOrdersPage h3 {
    margin-top: 130px;
    color: orange;
    font-size: 1.3em;
}
.myOrderBox {
    width: 95%;
    margin: 40px auto;
}
.launchiCON {
    color: orange   ;
}
.launchiCON:hover { 
    color: rgb(255, 111, 0);
}
.MuiDataGrid-columnsContainer{
    background-color: orange;
    color: white;
}

 
/* SingleItem details css  */

.orderDetailsPage{
    width: 100%;
    overflow: hidden;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.orderDetailsPage h3 {
    color: orange;
    font-size: 1.4em;
    margin-top: 120px;
}
.orderDetailBox{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.orderDetail_shipping, .orderDetail_payement {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.orderDetail_shipping > h3, .orderDetail_payement > h3 {
    margin: 15px auto;
    font-size: 1.1em;
}

.orderDetail_shipping > div > p , .orderDetail_payement > div > p {
    margin: 15px auto;
    font-size: 1em;
    display: grid;
    grid-template-columns: 6fr 6fr;
}
.orderDetail_shipping > div > p > span , .orderDetail_payement > div > p  > span{
   margin: 0px 10px;
}
.orderedItem{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orderedItem h3 {
    font-size: 1.3em;
    margin: 26px auto;
}


@media (max-width : 680px) {
    .orderDetail_shipping, .orderDetail_payement {
        flex-basis: 100%;
        width: 100%;
    }
    .orderDetail_payement > div > p  > span {
        margin: 0 25px;
    }
}
@media (max-width : 580px) {
    .myOrdersPage , .orderDetailsPage {
        padding-top: 140px ;
    }
}