
# dependencies
/node_modules
/homie-shop/node_modules
/homie-shop/.pnp
/homie-shop/.pnp.js

# testing
/homie-shop/coverage

# production
/homie-shop/build

# misc
Backend/config/config.env
/homie-shop/.DS_Store
/homie-shop/.env.local
/homie-shop/.env.development.local
/homie-shop/.env.test.local
/homie-shop/.env.production.local 

npm-debug.log*
yarn-debug.log*
yarn-error.log*
