.cartSection {
    min-height: 80vh;
    padding-top : 4vmax ;
    width: 100%;
}
.cartBox {
    width: 94%;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.itemCart{
    
    flex-basis: 70%;
    width: 70%;
    margin: 10px;
    
}

.itemCard {
    cursor: pointer;
    width: 100%;
    min-height: 250px;
    display: flex;
    /* border: 0.4px solid black; */
    padding: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 10px 10px 90px -30px rgba(0, 0, 0, 0.141);
}
.card_Info {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_image {
    flex-basis: 40%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_image img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.card_text {
    text-align: center;
    flex-basis: 60%;
}
.card_text h2 {
    font-size: 1.2em; 
    margin: 15px auto;
}
.card_text p {
    font-size: 1em;
    font-weight: 300;
}
.card_text h5 {
    margin: 10px auto;
    font-size: 1.5em;
    color : orange;
}
.card_text div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.card_price {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card_price h3 {
    font-size: 1em;
    color: orange;
}
.card_price h3 span {
    /* color: rgb(94, 93, 93); */
   width: 100%;
    font-size: 1.2em;
    margin: 10px auto;
}
.card_stock {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.extrass {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: red;
    margin: 10px auto   ;
    color: white;
    padding: 7px;
    transition: 0.3s all;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.extrass:hover {
    color: red;
    background-color: rgba(230, 221, 221, 0.43);
}


/* Sub total section */
.sub_total {
    width: 250px;
    flex-basis: 20%;
    min-height: 300px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border : 0.7px solid rgba(128, 128, 128, 0.4);
 }
.total_cart {
    width: 90%;
    padding: 10px;
    margin: 25px auto;
    flex-basis: 50%;
}
.total_cart h3 {
    font-size: 1em;
    color: black;
    font-weight: 400;
}
.total_cart h3 span {
    display: block;
    font-size: 1.1em;
    padding: 10px;
    color: orange;
    margin: 10px auto;
    background-color: rgba(210, 208, 208, 0.145);

}
.button_cart {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.cartBtn_new {
    display: block;
    padding: 10px 18px;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 19px;
    margin-top: 10px ;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    color: white;
    background-color:orange;
    cursor: pointer;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.cartBtn_new:hover {
    background-color: rgb(255, 106, 0);
}

@media (max-width : 1000px) {

    .cartBox {
        flex-direction: column;
        
    }
    .itemCart {
        width: 100%;
    }
    .sub_total {
        width: 100%;
        /* flex-direction: 100%; */
    }
    .cart_head {
        margin-top: 60px;
    }
}

@media (max-width : 580px) {
    .cart_head {
        margin-top: 160px;
    }
    .itemCard {
        min-height:300px ;
        flex-direction: column;
        justify-content: center;
    }
    .card_text p {
        margin: 4px auto;
        font-size: 0.8em;
    }
    .card_text h2 {
        font-size: 1em;
    }
    .card_Info div {
        margin: 7px auto;
    }
    .card_price {
        width: 100%;
        margin: 10px auto;
    }
    .card_price span {
        width: fit-content;
        padding-left: 10px;
    }
}


/* Empty cart code  */

.cart_empty {
    min-height: 80vh;
}
.empty_btn {
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 10px 15px ;
    margin: 17px auto;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.empty_btn:hover {
    background-color: rgb(255, 102, 0);
}