@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Unbounded&display=swap');
* {
  font-family: "Poppins", sans-serif;
  font-family: 'Unbounded', "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type ='number'] {
  -moz-appearance: textfield;
} */
